:focus {
outline: 0;
}

body {
  font-size: 18px;
}

button {
  border: 1px solid darken($border, 10% );
  background-color:#305a72;
  border-radius: 5px;
  text-align: center;
  padding:10px 5px;
  font-size: 15px;
  color:white;
}

button:hover {
  cursor:pointer;
  background-color:darken( #305a72, 10% );
}

.sa-confirm-button-container button {
  background-color:#305a72 !important;
  margin-bottom: 10px;
}
.sa-confirm-button-container button:hover {
  background-color:darken(#305a72, 10%)!important;
}

h2 {
  text-align: center;
  margin: 10px 0px;
}

.container {
  position:relative;
  overflow:hidden;
  margin:0 auto;
  max-width: 800px;
}
.content{
  background: $bgColor;
  color: $textColor;
  border: 1px solid $border;
  padding:15px 25px;
  position:relative;
  margin:0 15px;
}

#closeBuy {
  right: 12px;
  top: 6px;
}

.closeX {
 position: absolute;
}

.closeX:hover {
  cursor:pointer;
}

#dimmer {
  background-color:black;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  opacity: .5;
}
#dimmer:hover {
  cursor:pointer;
}
