#introScreen .content {
  display:flex;
  align-items: center;
  flex-direction: column;
}

#introScreen button {
  margin:10px auto;
  min-width:200px;
}

#introScreen {
  max-width: 600px;
  z-index: 2;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  position: absolute;
  margin: 25px auto 0px;
}

#welcomeText {
  margin:20px 0;
}

.hidden {
  display: none
}