$bgColor: #999;
$border: 1px solid #ccc;

.container {
  background: $bgColor;
  color: #333;
  position:relative;
  overflow:hidden;
  max-width: 400px;
}
.content{
  border: $border;
  padding:8px 20px 8px;
}
.arc-top, .arc-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
}
.arc-top:before, .arc-top:after, .arc-bottom:before, .arc-bottom:after {
  content:'';
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: $bgColor;
  border: $border;
  border-radius: 50%;
}
.arc-top:before {
  top: -12px;
  left: -12px;
}
.arc-top:after {
  top: -12px;
  right: -12px;
}
.arc-bottom:before {
  bottom: -12px;
  left: -12px;
}
.arc-bottom:after {
 bottom: -12px;
 right: -12px;
}
