@import 'utilities';
@import 'global';
@import 'buy';
@import 'intro';
@import 'sweetAlert';

#game-status {
  display:flex;
  justify-content: center;
}
#game-main button {
  width: 200px;
  padding:10px 0;
}

#total-area {
  flex:1 1 50%;
  text-align: center;
  align-self: center;
  margin-top: -15px;
}
.profitTracker {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
#game-main .current-score {
  font-size:36px;
}

#brick {
  display: flex;
  justify-content: center;
}

#brick img {
  cursor: pointer;
  max-width:250px;
  max-height: 193px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.coin img{
  height:30px;
  width:30px;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(3deg);
	}
	50% {
		-webkit-transform:rotate(-3deg);
	}
	100% {
		-webkit-transform:rotate(3deg);
	}
}

.brickWiggle {
	-webkit-animation: wiggle 0.01s infinite;
}
